.version.news /* version checker */
{
	color: #00000C;
	background-color: #EE55B2;
}

.html
{
	background-color: #C8C8C8;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 699.9612383618917px;
	overflow: hidden;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: inset 0px 2px 8px rgba(255,255,255,0.71), inset 0px -2px 8px rgba(0,0,0,0.71);
	top: 34px;
	bottom: 36px;
	width: 804px;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;
}

#u2242
{
	z-index: 63;
	width: 448px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1888
{
	z-index: 61;
	width: 317px;
	margin-right: -10000px;
	left: 463px;
}

#pu2242,#pmenuu1777
{
	width: 0.01px;
	margin-left: 20px;
}

#menuu1777
{
	z-index: 18;
	width: 760px;
	margin-right: -10000px;
}

#u1795
{
	width: 106px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1798
{
	width: 106px;
	padding-bottom: 6px;
}

#u1798:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1798:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1798.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1799-4
{
	width: 106px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1798:hover #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1798:active #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1798.MuseMenuActive #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1833
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 108px;
}

#u1834
{
	width: 107px;
	padding-bottom: 6px;
}

#u1834:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1834:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1835-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1834:hover #u1835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1834:active #u1835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1819
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 217px;
}

#u1820
{
	width: 107px;
	padding-bottom: 6px;
}

#u1834.MuseMenuActive,#u1820:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1820:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1823-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1834.MuseMenuActive #u1835-4,#u1820:hover #u1823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1820:active #u1823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1826
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 326px;
}

#u1827
{
	width: 107px;
	padding-bottom: 6px;
}

#u1820.MuseMenuActive,#u1827:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1827:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1829-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1820.MuseMenuActive #u1823-4,#u1827:hover #u1829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1827:active #u1829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1802
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 435px;
}

#u1803
{
	width: 107px;
	padding-bottom: 6px;
}

#u1827.MuseMenuActive,#u1803:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1803:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1804-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1827.MuseMenuActive #u1829-4,#u1803:hover #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1803:active #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2588
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 544px;
}

#u2591
{
	width: 107px;
	padding-bottom: 6px;
}

#u1803.MuseMenuActive,#u2591:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u2591:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u2593-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1803.MuseMenuActive #u1804-4,#u2591:hover #u2593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2591:active #u2593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1840
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 653px;
}

#u1843
{
	width: 107px;
	padding-bottom: 6px;
}

#u2591.MuseMenuActive,#u1843:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1843:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1843.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1844-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u2591.MuseMenuActive #u2593-4,#u1843:hover #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1843:active #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1843.MuseMenuActive #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1682-3
{
	z-index: 15;
	width: 5px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 974px;
}

#u2598-4
{
	z-index: 214;
	width: 306px;
	background-color: transparent;
	color: #474747;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	font-style: italic;
	margin-left: 50px;
	margin-top: 20px;
	position: relative;
}

#pu2378-136
{
	width: 0.01px;
	margin-left: 47px;
}

#u2378-136
{
	z-index: 65;
	width: 702px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2378-24,#u2378-32
{
	font-size: 12px;
	text-align: justify;
	padding-right: 29px;
	padding-left: 40px;
	color: #404040;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2378-22,#u2378-30
{
	font-size: 13px;
	color: #474747;
	line-height: 16px;
}

#u2378-21,#u2378-23,#u2378-29,#u2378-31
{
	line-height: 14px;
}

#u2378-33
{
	text-align: justify;
	text-indent: -20px;
	padding-right: 29px;
	padding-left: 40px;
	color: #404040;
	font-weight: bold;
	font-style: normal;
}

#u2378-46
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	padding-right: 29px;
	color: #C01912;
	font-style: italic;
}

#u2522
{
	z-index: 117;
	width: 408px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
}

#u2378-48,#u2378-49
{
	color: #404040;
	font-style: normal;
}

#u2528,#u2501
{
	margin-top: -5px;
	margin-bottom: 5px;
}

#u2495
{
	z-index: 122;
	width: 161px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
}

#u2378-52,#u2378-53
{
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	color: #C01912;
	font-style: italic;
}

#u2378-37,#u2378-57
{
	color: #404040;
}

#u2378-59
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	text-indent: -20px;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: italic;
}

#u2378-70
{
	text-align: justify;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: italic;
}

#u2378-76
{
	text-align: center;
	color: #C01912;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2378-47,#u2378-71
{
	font-size: 1px;
	line-height: 0px;
}

#u2458
{
	z-index: 147;
	width: 176px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.5);
	background-color: transparent;
}

#u2378-72,#u2378-74
{
	font-size: 12px;
	color: #404040;
	font-weight: bold;
	font-style: normal;
}

#u2465
{
	z-index: 152;
	width: 396px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(127,127,127,0.5);
	background-color: transparent;
}

#u2522_img,#u2495_img,#u2458_img,#u2465_img
{
	vertical-align: bottom;
}

#u2378-75
{
	color: #404040;
	font-weight: bold;
	font-style: normal;
	line-height: 17px;
}

#u2378-61,#u2378-79,#u2378-82,#u2378-86
{
	font-style: normal;
}

#u2378-39,#u2378-42,#u2378-89,#u2378-92,#u2378-95,#u2378-97
{
	font-weight: bold;
}

#u2378-88,#u2378-91,#u2378-94,#u2378-98
{
	font-weight: bold;
	font-style: normal;
}

#u2378-45,#u2378-58,#u2378-100
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: italic;
}

#u2378,#u2378-4,#u2378-5,#u2378-8,#u2378-9,#u2378-12,#u2378-13,#u2378-16,#u2378-17,#u2378-20,#u2378-25,#u2378-28,#u2378-36,#u2378-56,#u2378-104
{
	text-align: justify;
	text-indent: -20px;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: normal;
}

#u2378-2,#u2378-6,#u2378-10,#u2378-14,#u2378-18,#u2378-26,#u2378-34,#u2378-54,#u2378-101
{
	color: #404040;
	font-weight: bold;
}

#u2378-99,#u2378-106,#u2378-107
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	padding-right: 29px;
	padding-left: 40px;
	color: #404040;
	font-style: italic;
}

#u2378-62,#u2378-77,#u2378-83,#u2378-115
{
	text-align: justify;
	text-indent: -20px;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: italic;
}

#u2378-38,#u2378-41,#u2378-44,#u2378-50,#u2378-51,#u2378-60,#u2378-78,#u2378-108
{
	color: #404040;
	font-weight: bold;
	font-style: normal;
}

#u2378-80,#u2378-110
{
	color: #C01912;
}

#u2378-109,#u2378-111,#u2378-113
{
	color: #C01912;
	font-style: italic;
}

#u2378-69,#u2378-133
{
	text-align: justify;
	padding-right: 29px;
	padding-left: 40px;
	color: #C01912;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2378-63,#u2378-116
{
	font-size: 12px;
	color: #404040;
	line-height: 14px;
}

#u2378-64,#u2378-117
{
	font-size: 12px;
	color: #404040;
	font-style: normal;
	line-height: 14px;
}

#u2378-66,#u2378-121,#u2378-123,#u2378-128
{
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}

#u2378-119,#u2378-124,#u2378-127,#u2378-129
{
	font-size: 12px;
	line-height: 14px;
}

#u2378-65,#u2378-68,#u2378-73,#u2378-118,#u2378-126,#u2378-131
{
	font-size: 12px;
	color: #404040;
	font-weight: bold;
	font-style: normal;
	line-height: 14px;
}

#u2378-132
{
	color: #404040;
	font-style: normal;
	line-height: 17px;
}

#u2378-134
{
	letter-spacing: 1px;
	padding-left: 20px;
	color: #C01912;
	font-weight: bold;
}

#u2597
{
	z-index: 213;
	width: 700px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1248-13
{
	z-index: 2;
	width: 760px;
	min-height: 22px;
	margin-left: 20px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 804px;
	padding-top: 34px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

