.version.publications /* version checker */
{
	color: #00001E;
	background-color: #20A29D;
}

.html
{
	background-color: #C8C8C8;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 700px;
	overflow: hidden;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#page::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	border-radius: 10px;
	box-shadow: inset 0px 2px 8px rgba(255,255,255,0.71), inset 0px -2px 8px rgba(0,0,0,0.71);
	top: 34px;
	bottom: 36px;
	width: 804px;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;
}

#u2242
{
	z-index: 63;
	width: 448px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1888
{
	z-index: 61;
	width: 317px;
	margin-right: -10000px;
	left: 463px;
}

#pu2242,#pmenuu1777
{
	width: 0.01px;
	margin-left: 20px;
}

#menuu1777
{
	z-index: 18;
	width: 760px;
	margin-right: -10000px;
}

#u1795
{
	width: 106px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1798
{
	width: 106px;
	padding-bottom: 6px;
}

#u1798:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1798:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1798.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u1799-4
{
	width: 106px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1798:hover #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1798:active #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1798.MuseMenuActive #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u1833
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 108px;
}

#u1834
{
	width: 107px;
	padding-bottom: 6px;
}

#u1834:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1834:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1835-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1834:hover #u1835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1834:active #u1835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1819
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 217px;
}

#u1820
{
	width: 107px;
	padding-bottom: 6px;
}

#u1834.MuseMenuActive,#u1820:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1820:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1823-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1834.MuseMenuActive #u1835-4,#u1820:hover #u1823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1820:active #u1823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1826
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 326px;
}

#u1827
{
	width: 107px;
	padding-bottom: 6px;
}

#u1820.MuseMenuActive,#u1827:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1827:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1829-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1820.MuseMenuActive #u1823-4,#u1827:hover #u1829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1827:active #u1829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1802
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 435px;
}

#u1803
{
	width: 107px;
	padding-bottom: 6px;
}

#u1827.MuseMenuActive,#u1803:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1803:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1804-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1827.MuseMenuActive #u1829-4,#u1803:hover #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1803:active #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2588
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 544px;
}

#u2591
{
	width: 107px;
	padding-bottom: 6px;
}

#u1803.MuseMenuActive,#u2591:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u2591:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u2593-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u1803.MuseMenuActive #u1804-4,#u2591:hover #u2593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2591:active #u2593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1840
{
	width: 107px;
	min-height: 22px;
	margin-right: -10000px;
	left: 653px;
}

#u1843
{
	width: 107px;
	padding-bottom: 6px;
}

#u2591.MuseMenuActive,#u1843:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1843:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1843.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u1844-4
{
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	top: 3px;
}

#u2591.MuseMenuActive #u2593-4,#u1843:hover #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1843:active #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1843.MuseMenuActive #u1844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u1682-3
{
	z-index: 15;
	width: 5px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 974px;
}

#u1775
{
	z-index: 65;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 50px;
	margin-top: 20px;
	position: relative;
}

#u1686-4
{
	z-index: 67;
	width: 306px;
	background-color: transparent;
	color: #474747;
	font-size: 16px;
	line-height: 19px;
	font-style: italic;
	position: relative;
}

#pu1685
{
	width: 0.01px;
}

#u1685
{
	z-index: 66;
	width: 700px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u1773
{
	z-index: 72;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1689-146
{
	z-index: 73;
	width: 700px;
	min-height: 196px;
	background-color: transparent;
	color: #474747;
	position: relative;
	margin-right: -10000px;
}

#u1689,#u1689-4,#u1689-5,#u1689-8,#u1689-9,#u1689-15,#u1689-16,#u1689-22,#u1689-23,#u1689-28,#u1689-29,#u1689-34,#u1689-35,#u1689-40,#u1689-41,#u1689-48,#u1689-49,#u1689-54,#u1689-55,#u1689-60,#u1689-61,#u1689-66,#u1689-67,#u1689-72,#u1689-73,#u1689-78,#u1689-79,#u1689-84,#u1689-85,#u1689-90,#u1689-91,#u1689-96,#u1689-97,#u1689-107,#u1689-108,#u1689-113,#u1689-114,#u1689-120,#u1689-121,#u1689-126,#u1689-127,#u1689-133,#u1689-134,#u1689-139,#u1689-140,#u1689-143
{
	text-align: justify;
	padding-right: 15px;
	padding-left: 14px;
}

#u1689-2,#u1689-6,#u1689-10,#u1689-17,#u1689-24,#u1689-30,#u1689-36,#u1689-42,#u1689-50,#u1689-56,#u1689-62,#u1689-68,#u1689-74,#u1689-80,#u1689-86,#u1689-92,#u1689-98,#u1689-109,#u1689-115,#u1689-122,#u1689-128,#u1689-135,#u1689-141
{
	font-weight: bold;
}

#u1689-144
{
	text-align: left;
	padding-right: 15px;
}

#u1688
{
	z-index: 71;
	width: 700px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
}

#u1248-13
{
	z-index: 2;
	width: 760px;
	min-height: 22px;
	margin-left: 20px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 804px;
	padding-top: 34px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

